
.topbar {
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  background: #fcd1d1;
}



.pagecover {
  background: linear-gradient(#fcd1d1, #ece2e1);
  text-align: center;
}

.covertext{
  padding: 30px 0;
}

.facepic {
  border-radius: 50%;
  width: 20%;
  padding-bottom: 20px;
}

.cover-heading {
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
  font-size: 4rem;
  color: white;
}

.pronouns {
  color: white;
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.roles{
  color: white;
  font-family: fantasy;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);

}



.container {

}

.aboutme {
  background: #ece2e1;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  /* text-shadow: 1px 1px 0px rgba(0,0,0,0.6); */
  text-align: center;
  margin: 0;
  padding: 20px;
}

.maincopy {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow:  2px 2px 0px rgba(0,0,0,0.2);

}

.getintouch {
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
  font-size: 2rem;
  color: white;
  padding-bottom: 20px;
}

.contact {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: linear-gradient(#ece2e1, #d3e0dc);
}

.projectcards {
  padding: 20px;
  padding-bottom: 50px;
  background: #d3e0dc;
  text-align: center;
}

.campaigns-heading {
  padding-bottom: 20px;
}


.details-heading {
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
  font-size: 2rem;
  color: white;
  padding-bottom: 20px;
}

.campbtn {
  background: #fcd1d1;
}

.playlistcards {
  background: #fcd1d1;
  text-align: center;
  padding-bottom: 30px;
}

.plstbtn {
  background: #d3e0dc;
}


.copyright {
  padding: 20px;
  margin-top: 0px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }


.card {
  border-radius: 20px;
  box-shadow:  2px 2px 0px rgba(0,0,0,0.2);
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
}
